<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.2//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="pe.bn.com.sate.ope.persistence.mapper.internal.RolMapper">
	
	<resultMap id="mapRol" type="Rol">
		<result property="id" column="B11_ID_ROL" />
		<result property="descripcion" column="B11_DESCRIPCION" />
		<result property="estado" column="B11_ESTADO" />
	</resultMap>

</mapper>