<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.2//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="pe.bn.com.sate.ope.persistence.mapper.internal.TransaccionMapper">

<resultMap id="mapTransaccion" type="Transaccion">
	<result property="numeroExpediente" column="numeroExpediente" />
    <result property="numeroTarjeta" column="numeroTarjeta" />
    <result property="monedaCuenta" column="monedaCuenta" />
    <result property="fechaOperacion" column="fechaOperacion" />
    <result property="fechaPosteo" column="fechaPosteo" />
    <result property="operacion" column="operacion" />
    <result property="comercio" column="comercio" />
    <result property="monto" column="monto" />
    <result property="monedaTransaccion" column="monedaTransaccion" />
    <result property="numeroAutorizacion" column="numeroAutorizacion" />
    <result property="estado" column="estado" />
</resultMap>

</mapper>